body {
    background-color: grey;
    color: black;
    font-family: Arial;
    text-align: center;
}

#text1 {
    border: 1px solid black ;
    border-radius: 10px;
    resize: none;
    box-shadow: 5px 5px 5px ;
}

#text2 {
    border: 1px solid black;
    resize: none;
    box-shadow: 5px 5px 5px;
}
