/* RESET */
:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    color: lightgrey;
}

/* GLOBAL */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

p {
    font-size: 2rem;
}

header {
    height: 80rem;
}

h2 {
    font-size: 3.4rem;
    color: white;
}

/* KEYFRAMES */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateY(50dvw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(50dvw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/* STYLES */

/* nav */
.nav__content {
  min-height: 6rem;
  max-width: auto;
  padding: 0 5rem;
  margin-top: 2rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav__list {
    margin-left: auto;
    display: flex;
    column-gap: 3vw;
    font-size: 2.5rem;
    
}

.video-container {
    z-index: -100;
    width:100%;
    height:75%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}

#video-bg {
    max-width: 100%;
}


/* intro */
.intro {
    text-align: center;
    color: lightgray;
    line-height: 3rem;
    width: 75dvw;
    margin: auto;
    padding: 0 4rem 0 4rem;
}

.intro__title {
    margin-bottom: 4rem;
    font-weight: 100;
}


/* portfolio */
.portfolio__title {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
}

.portfolio__project1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}
.portfolio__project2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}
.portfolio__project3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}

.description {
    padding: 0 6rem 0 6rem;
}


.video1 {
    max-width: 50dvw;
}

.video2 {
    max-width: 48dvw;
}

.video3 {
    max-width: 50dvw;
}


/* about us story */
.story {
    padding: 3rem;
    margin: auto;
    width: 75%;
    text-align: center;
}

.story__title {
    margin-bottom: 2rem;
}

.story__text {
    line-height: 3rem;
    word-wrap: break-word
}


/* price */
.price {
    width: 75%;
    padding: 3rem;
    margin: auto;
    text-align: center;
    line-height: 3rem;
}

.price__title {
    padding: 3rem;
}

.price__numbers {
    font-size: 4.8rem;
    font-family: Wallpoet;
    padding: 3rem;
}

.price__text {
    padding: 3rem;
}


/* contact */
.contact {
    width: 75%;
    padding: 3rem;
    margin: auto;
    text-align: center;
    line-height: 3rem;
}

.contact__title {
    padding: 3rem;
}

.contact__text {
    padding: 3rem;
    margin-bottom: 5rem;
}

.contact__btn {
    padding: 3rem;
    font-size: 3rem;
    color: black;
    background: #B1B0B0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5rem; 
    border: 1px black solid;
    cursor: pointer;
}

.contact__btn:hover {
    background-color: #d5d5d7;
    transition: 0.4s all;
}

.contact__btn:active {
    background-color: darkgray;
    
}

/* contact modal */
.contact__modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-out;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__modal.open {
    opacity: 1;
    backdrop-filter: blur(2px);
    z-index: 999;
}

.contact__modalContent {
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 2.5rem 3.5rem;
    width: 40%;
    position: relative;
}

.contact__modalContent p {
    color: black;
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.modal__btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.modal__names {
    display: flex;
    justify-content: space-evenly;

}

.modal__names h3:nth-child(1) {
    margin-left: 0.9rem;
}

.modal__names h3:nth-child(2) {
    margin-left: 1.8rem;
}

.modal__names h3:nth-child(3) {
    margin-left: -0.5rem;
}

.closeModal {
    all: unset;
    color: black;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    
    
}

.closeModal:hover {
    color: lightgray;
    transition: 0.2s all;
}

.closeModal:active {
    color: darkgray;
    transition: 0.2s all;
}

.modal__btns > *:hover {
    filter: drop-shadow( 0 0 20px black);
    transition: 0.3s all;
}

.modal__btns > *:active {
    filter: drop-shadow( 0 0 40px black);
    
}



.line {
    width: 75vw;
    margin: 4rem auto 4rem auto;
}


/* footer */
.footer {
    margin-top: 5rem;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    cursor: pointer;
    font-size: 2rem;
    width: 50%;
}

.footer__btn button {
    all: unset;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 2rem auto 0.5rem auto;
    padding: 3rem 3rem 0.5rem 3rem;
}

.footer__social > *:hover {
    filter: drop-shadow( 0 0 10px lightgray);
    transition: 0.3s all;
}

.footer__social > *:active {
    filter: drop-shadow( 0 0 20px lightgray);
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem 2rem 2rem;
}


.fade-in {
    animation: fade-in 4s;
}

.fade-in-titles {
    animation: fade-in 3s;
}

.fade-in-right {
    animation: fade-in-right 1.5s;
}

.fade-in-left {
    animation: fade-in-right 1.5s;
}

/* MEDIA QUERIES */












