

$primary: lightgray;
$secondary: #212529;



body {
    color: lightgray;
    font-family: Arial;
    text-align: center;
}

#text1 {
    color: lightgray;
    border: 1px solid black ;
    border-radius: 10px;
    resize: none;
    box-shadow: 5px 5px 5px black;
    
    
    
}

#text2 {
    color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
    box-shadow: 5px 5px 5px black;
   
}

h1 {
    color: lightgray;
    text-align: center;
}


#link {
    margin-top: 4px;
    
}



#icon {
   height: auto;
   width: auto;
}



#footer {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
    text-align: center
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

@import "node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-body-bg:#343a40;
}